{% extends 'base.html.twig' %}

{% block title %}Ke stažení - Portál značkaře{% endblock %}

{% block body %}
    <div class="container container--lg">
        {% include 'components/page-header.html.twig' with {
            title: 'Ke stažení',
            subtitle: 'Dokumenty, formuláře a materiály potřebné pro značení turistických tras.',
            breadcrumbs: [
                {
                    url: path('app_index'),
                    text: 'Úvod'
                },
                {
                    text: 'Ke stažení'
                }
            ]
        } %}

        <div class="grid">
            <div class="card">
                <div class="card__header">
                    <h3 class="card__title">Formuláře a dokumenty</h3>
                </div>
                <div class="card__content">
                    <div class="grid">
                        <div class="download-item">
                            <div class="download-item__info">
                                <h4 class="download-item__title">Hlášení o značení tras</h4>
                                <p class="download-item__desc">Formulář pro hlášení dokončených prací</p>
                            </div>
                            <a href="#" class="btn btn--primary" onclick="alert('Soubor bude k dispozici po implementaci')">
                                {{ tabler_icon('download', 16, 'btn__icon') }}
                                Stáhnout
                            </a>
                        </div>

                        <div class="download-item">
                            <div class="download-item__info">
                                <h4 class="download-item__title">Metodika značení (PDF)</h4>
                                <p class="download-item__desc">Kompletní metodika ve formátu PDF</p>
                            </div>
                            <a href="#" class="btn btn--primary" onclick="alert('Soubor bude k dispozici po implementaci')">
                                {{ tabler_icon('download', 16, 'btn__icon') }}
                                Stáhnout
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__header">
                    <h3 class="card__title">Aplikace a nástroje</h3>
                </div>
                <div class="card__content">
                    <div class="grid">

                        <div class="download-item">
                            <div class="download-item__info">
                                <h4 class="download-item__title">GPS nástroje</h4>
                                <p class="download-item__desc">Nástroje pro práci s GPS souřadnicemi</p>
                            </div>
                            <a href="#" class="btn btn--secondary" onclick="alert('Link bude k dispozici po implementaci')">
                                {{ tabler_icon('external-link', 16, 'btn__icon') }}
                                Otevřít
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'components/alert.html.twig' with {
                type: 'info',
                title: 'Poznámka k implementaci',
                message: 'Tato stránka je připravena pro budoucí implementaci systému správy souborů. Soubory budou ukládány a spravovány přes administrační rozhraní.'
            } %}
        </div>
    </div>
{% endblock %}