{% extends 'admin.html.twig' %}

{% block title %}Správa stránek - Admin{% endblock %}

{% block body %}
<div class="page">
    <div class="page__header">
        {% include 'components/page-header.html.twig' with {
            'title': 'Správa stránek',
            'breadcrumbs': [
                {'text': 'Administrace', 'url': path('admin_dashboard')},
                {'text': 'Stránky'}
            ]
        } %}
    </div>

    <div class="page__content">
        <!-- React app mount point -->
        <div
            data-app="admin-cms-pages"
            data-debug="{{ app.request.server.get('DEBUG_APPS') == 'true' ? 'true' : 'false' }}"
        ></div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-cms-pages') }}
{% endblock %}
