// CMS Content Styles
// Styles for content rendered from CMS editor on the frontend

// Image alignment using data-align attribute (clean Tiptap way)
img[data-align="left"] {
  @apply block mr-auto ml-0;
}

img[data-align="center"] {
  @apply block mx-auto;
}

img[data-align="right"] {
  @apply block ml-auto mr-0;
}

// Image float/text wrapping using data-float attribute
img[data-float="left"] {
  @apply float-left mr-4 mb-2;
}

img[data-float="right"] {
  @apply float-right ml-4 mb-2;
}

img[data-float="none"] {
  @apply float-none;
}

// Prokliknutelné obrázky (obalené v <a> tagu)
a > img {
  @apply cursor-pointer;

  &[data-align="left"] {
    @apply block mr-auto ml-0;
  }

  &[data-align="center"] {
    @apply block mx-auto;
  }

  &[data-align="right"] {
    @apply block ml-auto mr-0;
  }

  &[data-float="left"] {
    @apply float-left mr-4 mb-2;
  }

  &[data-float="right"] {
    @apply float-right ml-4 mb-2;
  }

  &[data-float="none"] {
    @apply float-none;
  }
}
